/* normalizing screen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
/* body as flex and background with filter */
body {
  background-image: url("/background image.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}
/* text color and font with size */
p {
  color: rgb(255, 255, 255);
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 3rem;
}
.container {
  width: 60vw;
  height: 80vh;
  display: flex;
  gap: 1rem;
}
/* main panel as flex */
.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  box-shadow: 0.1rem 0.1rem red;
}
/* panels */
.panel1 {
  background-image: url("/first\ img.jpg");
  background-size: cover;
  filter: brightness(5%);
}
.panel2 {
  background-image: url("/second\ img.jpg");
  background-size: cover;
  filter: brightness(5%);
}
.panel3 {
  background-image: url("/third\ img.jpg");
  background-size: cover;
  filter: brightness(5%);
}
.panel4 {
  background-image: url("/forth\ img.jpg");
  background-size: cover;
  filter: brightness(5%);
}
/* panels */
.panel1:hover {
  filter: brightness(15%);
}
.panel2:hover {
  filter: brightness(15%);
}
.panel3:hover {
  filter: brightness(15%);
}
.panel4:hover {
  filter: brightness(15%);
}
/* class to toggle when clicked */
.active {
  filter: brightness(100%) !important;
  flex: 2;
}
/* class to add to text */
.first:first-child {
  translate: 0px -12rem;
  color: rgb(0, 0, 0);
}
.last:last-child {
  translate: 0px 12rem;
  color: rgb(0, 0, 0);
}
